<dl>
	<dt>Nom</dt><dd><?=$autor->getNom()?></dd>
	<dt>Cognom</dt><dd><?=$autor->getCognom()?></dd>
	<dt>Frases</dt><dd><?=$autor->getNfrases()?></dd>
	<dd><a href="/frases/addfrases.phtml?autor=<?=$autor->getSid()?>">Add frase</a></dd>
</dl>
<hr/>
<dl>
	<?php foreach($frases as $frase){ ?>
	<dt><?=$frase->getAutor()?></dt>
	<dd><?=$frase->getFrase()?></dd>
	<dd><a href="/frases/details.phtml?frases=<?=$frase->getIdfrases()?>">Details</a></dd>
	<dd><a href="/frases/modifyfrases.phtml?frases=<?=$frase->getIdfrases()?>">Update</a></dd>
	<?php } ?>
</dl>
<a href="/">Back to index</a>
