<dl>
	<dt><?=$frase->getAutor()?></dt>
	<dd><?=$frase->getFrases()?></dd>
	<dd><a href="/frases/modifyfrases.phtml?frase=<?=$frase->getIdfrases()?>">Update</a></dd>
	<dd><a href="/frases/deletefrases.phtml?frase=<?=$frase->getIdfrases()?>">Delete</a></dd>
</dl>
<hr/>
<dl>
	<dt>Nom</dt><dd><?=$frase->getAutor()->getNom()?></dd>
	<dt>Cognom</dt><dd><?=$frase->getAutor()->getCognom()?></dd>
	<dt>Frases</dt><dd><?=$frase->getAutor()->getNfrases()?></dd>

</dl>
<a href="/index.phtml">Back to index</a>
