<?php

require_once(__DIR__.'/../../controller/AutorController.php');
require_once(__DIR__.'/../../controller/FrasesController.php');

$frase = $_POST['frase'];
$idfrases = $_POST['frasesid'];
$autorid = $_POST['aid'];

$cnt2 = new FrasesController();
$frases = $cnt2->updateFrases($frase, $idfrases);

$cnt = new AutorController();
$autor = $cnt->getAutor($autorid);

?><html>
	<head><title>Frases editada</title></head>
	<body>
		<div id="wrapper">
			<h1>Frase modificada de l'autor <?=$autor->getNom()?></h1>
			<?php include(__DIR__.'/../../inc/dfrases.phtml'); ?>
		</div>
	</body>
</html>
