<?php

require_once(__DIR__.'/../../controller/AutorController.php');

$nom = $_POST['snom'];
$cognom = $_POST['scognom'];

$cnt = new AutorController();
$autor = $cnt->createAutor($nom, $cognom);

?><html>
	<head><title>Autor's detail</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$autor->getNom()?> created</h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>
