<?php

require_once(__DIR__.'/../../controller/AutorController.php');
require_once(__DIR__.'/../../controller/AutorController.php');

$frase = $_POST['sfrase'];
$autor = $_POST['sautor'];
$autorid = $_POST['sid'];

$cnt2 = new FrasesController();
$cnt2->createFrases($frase, $autor,$autorid);

$cnt = new AutorController();
$autor = $cnt->getAutor($sid);

$frases = $cnt2->getFrasesByAutor($sid);

?><html>
	<head><title>Autor's detail</title></head>
	<body>
		<div id="wrapper">
			<h1>New frase added to <?=$autor->getNom()?></h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>
