<?php

require_once(__DIR__.'/../../controller/AutorController.php');

$nom = $_POST['snom'];
$cognom= $_POST['scognom'];
$id = $_POST['sid'];

$cnt = new AutorController();
$autor = $cnt->updateAutor($nom, $cognom, $id);

?><html>
	<head><title>Updated</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$autor->getNom()?> updated</h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>
