<?php

require_once(__DIR__.'/../../controller/AutorController.php');
require_once(__DIR__.'/../../controller/AutorController.php');

$nom = $_POST['sfrase'];
$autor = $_POST['sautor'];
$frasesid = $_POST['frasesid'];

$cnt2 = new FrasesController();
$frases = $cnt2->updateFrases($frase, $autor, $frasesid);

?><html>
	<head><title>Season updated</title></head>
	<body>
		<div id="wrapper">
			<h1>Updated <?=$frases->getAutor()->getNom()?>(<?=$frases->getAutor()?>)</h1>
			<?php include(__DIR__.'/../../inc/dfrases.phtml'); ?>
		</div>
	</body>
</html>
