<html>
	<head><title>Autor list</title></head>
	<body>
		<div id="wrapper">
			<h1>Add new autor</h1>
			<form action="/forms/add.phtml" method="post">
				<dl>
					<dt><label for="snom">Nom</label></dt>
					<dd><input type="text" name="snom" id="snom"></dd>
					<dt><label for="scognom">Cognom</label></dt>
					<dd><input type="text" name="scognom" id="scognom"></dd>
					<dd><input type="submit" name="submit" value="Add"></dd>
				</dl>
			</form>
		</div>
	</body>
</html>
