<?php

require_once(__DIR__.'/../controller/AutorController.php');

$sid = $_GET['a'];


$cnt = new AutorController();
$autor = $cnt->deleteAutor($sid);

?><html>
	<head><title>Deleted autor</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$autor->getNom()?> deleted</h1>
			<?php include(__DIR__.'/../inc/d.phtml'); ?>
		</div>
	</body>
</html>
