<?php

require_once(__DIR__.'/../controller/AutorController.php');
require_once(__DIR__.'/../controller/FrasesController.php');

$sid = $_GET['s'];


$cnt = new AutorController();
$cnt2 = new FrasesController();

$autor = $cnt->getAutor($sid);
$frases = $cnt2->getFrasesByAutor($sid);

?><html>
	<head><title>Autor's detail</title></head>
	<body>
		<div id="wrapper">
			<h1>Details of <?=$autor->getNom()?></h1>
			<?php include(__DIR__.'/../inc/d.phtml'); ?>
		</div>
	</body>
</html>
