<?php

require_once(__DIR__.'/../controller/AutorController.php');

$cnt = new AutorController();
$list = $cnt->getAutor();

?><html>
	<head><title>Autor list</title></head>
	<body>
		<div id="wrapper">
			<h1>Autor List</h1>
			<a href="/add.phtml">Add autor</a>
			<section id="autorlist">
				<?php foreach($list as $autor){ ?>
				<article class="seriedesc">
					<span><?=$autor->getNom()?></span>
					<span><?=$autor->getCognom()?></span>
					<span><?=$autor->getNfrases()?></span>
					<span><a href="/details.phtml?s=<?=$autor->getSid()?>">Details</a></span>
					<span><a href="/modify.phtml?s=<?=$autor->getSid()?>">Modify</a></span>
					<span><a href="/delete.phtml?s=<?=$autor->getSid()?>">Delete</a></span>
				</article>
				<?php } ?>
			</section>
		</div>
	</body>
</html>
