<?php

require_once(__DIR__.'/../../controller/AutorController.php');

$sid = $_GET['autor'];

$cnt = new AutorController();
$autor = $cnt->getAutor($sid);

?><html>
	<head><title>Add season</title></head>
	<body>
		<div id="wrapper">
			<h1>Add new frase to <?=$autor->getNom()?></h1>
			<form action="/forms/addFrases.phtml" method="post">
				<dl>
					<dt><label for="sfrase">Year</label></dt>
					<dd><input type="text" name="sfrase" id="sfrase"></dd>
					<dt><label for="sautor">Num chapters</label></dt>
					<dd><input type="text" name="sautor" id="sautor"></dd>
					<dd>
						<input type="hidden" name="sid" value="<?=$autor->getSid()?>"/>
						<input type="submit" name="submit" value="Add frase">
					</dd>
				</dl>
			</form>
		</div>
	</body>
</html>
