<?php

require_once(__DIR__.'/../../controller/FrasesController.php');

$frasesid = $_GET['frase'];


$cnt = new FrasesController();
$frases = $cnt->deleteFrases($frasesid);

?><html>
	<head><title>Deleted frase</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$frases->getAutor()->getNom()?>(<?=$frases->getAutor()?>) deleted</h1>
			<?php include(__DIR__.'/../../inc/dfrases.phtml'); ?>
		</div>
	</body>
</html>
