<?php

require_once(__DIR__.'/../../controller/FrasesController.php');

$sid = $_GET['frases'];


$cnt2 = new FrasesController();

$season = $cnt2->getFrasesById($sid);

?><html>
	<head><title>Frases detail</title></head>
	<body>
		<div id="wrapper">
			<h1>Details of <?=$frases->getAutor()->getNom()?>(<?=$frases->getAutor()?>)</h1>
			<?php include(__DIR__.'/../../inc/dfrases.phtml'); ?>
		</div>
	</body>
</html>
