<?php

require_once(__DIR__.'/../../controller/FrasesController.php');

$frasesid = $_GET['frases'];


$cnt = new FrasesController();
$frases = $cnt->getFrasesById($frasesid);

?><html>
	<head><title>Update frase</title></head>
	<body>
		<div id="wrapper">
			<h1>Update frase</h1>
			<form action="/forms/modifyFrases.phtml" method="post">
				<dl>
					<dt><label for="sautor">Autor</label></dt>
					<dd><input type="text" name="sautor" id="sautor" value="<?=$frases->getAutor()?>"></dd>
					<dt><label for="sfrase">Frase</label></dt>
					<dd><input type="text" name="snchap" id="snchap" value="<?=$frases->getFrase()?>"></dd>
					<dd>
						<input type="hidden" name="frasesid" value="<?=$frasesid?>">
						<input type="submit" name="submit" value="Update frase">
					</dd>
				</dl>
			</form>
		</div>
	</body>
</html>
