<?php

require_once(__DIR__.'/../controller/AutorController.php');
require_once(__DIR__.'/../controller/FrasesController.php');

$aid = $_GET['a'];

$cnt = new AutorController();
$cnt2 = new FrasesController();

$autor = $cnt->getAutor($aid);
$frases = $cnt2->getFrasesByAutor($aid);

?><html>
	<head><title>Detalle del Autor</title></head>
	<body>
		<div id="wrapper">
			<h1>Detalles de <?=$autor->getNom()?></h1>
			<?php include(__DIR__.'/../inc/d.phtml'); ?>
		</div>
	</body>
</html>
